@charset "utf-8";
/* CSS Document */

 *{
 outline:none;
 padding:0;
 margin:0;
 }

/*hereeeeeeeeeeeeee*/
.nav6bar ul li.first {
    width:162px;
    height:59px;
    background:url(../img/images/menu/6menu/german/choosepackage.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
}

.nav6bar ul li.first:hover, .nav6bar ul li#first.active {
    width:162px;
    height:59px;
    background:url(../img/images/menu/6menu/german/choosepackage-hover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
}

.nav6bar ul li.second {
	width:202px;
	height:59px;
	background:url(../img/images/menu/6menu/german/format-filling.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left: -20px;
}

.nav6bar ul li.second:hover, .nav6bar ul li#second.active {
	width:202px;
	height:59px;
	background:url(../img/images/menu/6menu/german/format-filling-hover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left: -20px;
}

.nav6bar ul li.third {
	width:190px;
	height:59px;
	background:url(../img/images/menu/6menu/german/choose-design.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left:-20px;
}

.nav6bar ul li.third:hover, .nav6bar ul li#third.active  {
	width:190px;
	height:59px;
	background:url(../img/images/menu/6menu/german/choose-design-hover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left:-20px;
}

.nav6bar ul li.fourth {
	width:156px;
	height:59px;
	background:url(../img/images/menu/6menu/german/add-address.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left:-20px;
}

.nav6bar ul li.fourth:hover, .nav6bar ul li#fourth.active  {
	width:156px;
	height:59px;
	background:url(../img/images/menu/6menu/german/add-address-hover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left:-20px;
}

.nav6bar ul li.fifth {
	width:204px;
	height:59px;
	background:url(../img/images/menu/6menu/german/desk.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left:-20px;
}

.nav6bar ul li.fifth:hover, .nav6bar ul li#fifth.active  {
	width:204px;
	height:59px;
	background:url(../img/images/menu/6menu/german/desk-hover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left:-20px;
}

.nav6bar ul li.sixth {
	width:180px;
	height:59px;
	background:url(../img/images/menu/6menu/german/bestellen.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left:-20px;
}

.nav6bar ul li.sixth:hover, .nav6bar ul li#sixth.active  {
	width:180px;
	height:59px;
	background:url(../img/images/menu/6menu/german/bestellenhover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
	margin-left:-20px;
}

.nav5bar
{
    width:1000px;
    margin-left:5px;
    margin-top:15px;
    float: left;

}
.nav5bar ul {
    float: left;
    list-style-type:none;
    padding:0;
    margin:0;
    /* z-index: 2500;*/

}
.nav5bar ul li {
    color: #c1c1c1;
    display: block;
    float: left;
    /*position: relative;*/
    /*    z-index: 2700;*/
    
}

.nav5bar ul li.first {
    width:202px;
    height:59px;
    background:url(../img/images/menu/5menu/german/paketwahlen.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
}

.nav5bar ul li.first:hover, .nav5bar ul li#first.active {
    width:202px;
    height:59px;
    background:url(../img/images/menu/5menu/german/paketwahlenhover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
}

.nav5bar ul li.second {
    width:221px;
    height:59px;
    background:url(../img/images/menu/5menu/german/formatfilling.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
    margin-left: -20px;
}

.nav5bar ul li.second:hover, .nav5bar ul li#second.active {
    width:221px;
    height:59px;
    background:url(../img/images/menu/5menu/german/formatfillinghover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
    margin-left: -20px;
}

.nav5bar ul li.third {
    width:214px;
    height:59px;
    background:url(../img/images/menu/5menu/german/hintergrundwahlen.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
    margin-left:-20px;
}

.nav5bar ul li.third:hover, .nav5bar ul li#third.active  {
    width:214px;
    height:59px;
    background:url(../img/images/menu/5menu/german/hintergrundwahlenhover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
    margin-left:-20px;
}

.nav5bar ul li.fourth {
    width:232px;
    height:59px;
    background:url(../img/images/menu/5menu/german/hintergrundbearbeiten.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
    margin-left:-20px;
}

.nav5bar ul li.fourth:hover, .nav5bar ul li#fourth.active  {
    width:232px;
    height:59px;
    background:url(../img/images/menu/5menu/german/hintergrundbearbeitenhover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
    margin-left:-20px;
}

.nav5bar ul li.fifth {
    width:205px;
    height:59px;
    background:url(../img/images/menu/5menu/german/bestellen.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
    margin-left:-20px;
}

.nav5bar ul li.fifth:hover, .nav5bar ul li#fifth.active  {
    width:205px;
    height:59px;
    background:url(../img/images/menu/5menu/german/bestellenhover.png) no-repeat left top;
    color: #c1c1c1;
    display: block;
    float: left;
    margin-left:-20px;
}